<!-- dialog-box.component.html -->
<!-- <mat-progress-bar *ngIf="form_status" mode="indeterminate"></mat-progress-bar> -->
<h1 mat-dialog-title> {{ quan_data.name }} Quantity</h1>
<form [formGroup]="myForm" >
  <div mat-dialog-content >
  <div class="example-container">
    <mat-form-field appearance="outline">
      <mat-label class="form-label">Units</mat-label>
      <mat-select class="form-text"  [(ngModel)]="unitValue" (change)="onSelectionChange($event)" formControlName="prod_units">
        <mat-option *ngFor="let unitoption of unit_option" [value]="unitoption">
          {{ unitoption }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="example-container">
    <mat-form-field appearance="outline" class="form-element">
      <mat-label class="form-label">Product Quantity</mat-label>
      <input
      matInput tab-directive
      autocomplete="off"
      class="form-text"
       [(ngModel)]="quantityValue"
        type="number"
        inputmode="numeric"
        #box
        (keydown)="validateInput($event)"
        (keyup.enter)="myEvent()"
        placeholder="quantity"
        (input)="Quantityy($event)"
        formControlName="product_quantity"
      />
    </mat-form-field>
  </div>
</div>
</form>
<div mat-dialog-actions>
  <button mat-button (click)="close()" >Close</button>
  <button mat-button (click)="okay()"cdkFocusInitial>Okey</button>
</div>