<!-- <mat-progress-bar *ngIf="form_status" mode="indeterminate"></mat-progress-bar> -->
<!-- <div *ngIf="form_status" class="wrapper center">
  <mat-progress-spinner class="inner" mode="indeterminate"></mat-progress-spinner>
</div> -->
<div fxLayout="column" class="krl-row">
    <div fxFlex class="krl-col" class="form-component-holder">
        <div>
          <mat-toolbar class="mattoolbar">
            <mat-toolbar-row>
              <span class="fill-remaining-space">Menu</span>
              <span class="spacer"></span>
              <button class="button" (click)="Add_openDialog()" mat-raised-button color="primary">
                Add New Product
              </button>
            </mat-toolbar-row>
          </mat-toolbar>
        <mat-card class="example-card mat-elevation-z0">
          <div class="example-container">
            <mat-form-field appearance="outline" >
              <input 
                matInput
                (keyup)="applyFilter($event.target.value)"
                placeholder="Search Menu"
              />
            </mat-form-field>
          </div>
        </mat-card>
        <mat-card class="example-card mat-elevation-z0">
          <div class="table-container ">
            <table
              mat-table
              class="table"
              matSort
              [dataSource]="dataSource"
              #mytable
              class="my-table mat-elevation-z8"
            >
            <ng-container matColumnDef="s_no">
                <th mat-header-cell *matHeaderCellDef>S.NO</th>
                <td mat-cell *matCellDef="let element; let i = index">{{ i + 1 }}</td>
              </ng-container>
        
              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef>Product Id</th>
                <td mat-cell *matCellDef="let element">{{ element.id }}</td>
              </ng-container>
        
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Product Name</th>
                <td mat-cell *matCellDef="let element">{{ element.name }}</td>
              </ng-container>
        
              <ng-container matColumnDef="units">
                <th mat-header-cell *matHeaderCellDef>Units</th>
                <td mat-cell *matCellDef="let element">{{ element.units }}</td>
              </ng-container>
        
              <ng-container matColumnDef="price">
                <th mat-header-cell *matHeaderCellDef>Price</th>
                <td mat-cell *matCellDef="let element">{{ element.price }}</td>
              </ng-container>
        
              <ng-container matColumnDef="quantity">
                <th mat-header-cell *matHeaderCellDef>Quantity</th>
                <td mat-cell *matCellDef="let element">{{ element.quantity }}</td>
              </ng-container>
        
              <ng-container matColumnDef="amount">
                <th mat-header-cell *matHeaderCellDef>Amount</th>
                <td mat-cell *matCellDef="let element">{{ element.amount }}</td>
              </ng-container>
  
              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef>Action</th>
                <td mat-cell *matCellDef="let element; let i = index" class="action-link">
                    <button mat-button (click)="Editdialog(i)">
                        <mat-icon matTooltip="Edit" color="primary">edit</mat-icon>
                      </button>
                      <button mat-button (click)="Deletedialog(item.id)">
                        <mat-icon matTooltip="Delete" color="warn">delete</mat-icon>
                      </button>
                      <button mat-button (click)="showdata(i)">
                        <mat-icon matTooltip="View" color="accent">remove_red_eye</mat-icon>
                      </button> 
                </td>
              </ng-container>
  
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
          </div>
        </mat-card>
        <mat-paginator
          [pageIndex]="0"
          [pageSize]="10"
          [pageSizeOptions]="[2, 5, 10, 25, 100]"
          [showFirstLastButtons]="true"
        >
        </mat-paginator>
      </div>

    </div>
  </div>
  